/*
body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}
*/


/****************/

.flex-nav-wrapper {
    height: 140px;
}


/*Flex Container - Main*/

.flex-nav {
    display: flex;
    justify-content: space-around;
    background: $dnwBlue;
    align-items: center;
    a,
    p {
        background: $dnwBlue;
        color: $spfGold;
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 30px 5px;
        border-radius: 5%;
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: all 0.1s;
    }
    .flex-nav__link__animation:hover {
        color: white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1 {
        /*        padding-right: 20px;*/
        font-size: 3rem;
        /*            padding-top: 10%;*/
        text-align: center;
        color: $spfGold;
    }
    .flex-nav__logo-div {
        display: flex;
        justify-content: space-between;
        .flex-nav__logo {
            padding: 0;
            margin: 5px 0;
            height: 130px;
            background: transparent;
            img {
                height: 100%;
                min-width: 130px;
            }
        }
    }
}


/**********************************************************************/


/**Fixing the Title being too large within this specific screen size**/

@media all and (min-width: 1024px) and (max-width: 1090px) {
    .flex-nav h1 {
        font-size: 2rem;
    }
}


/**********************************************************************/


/* Flex Container - menu*/

.ul-level-1 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 1000px;
    align-items: center;
}


/*UL level 2 multi level menu*/

.ul-level-2 {
    display: flex;
    flex-direction: column;
    /**Need position:absolute so it extends outside the nav-bar**/
    position: absolute;
    /*    right: 0;*/
    background: $dnwBlue;
    list-style-type: none;
    padding: 0;
    /*    margin-top: 12px;*/
    width: 100%;
    z-index: 10;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    a {
        color: silver;
    }
}

.hide-sub-menu {
    display: none;
}


/*******************************************************/


/* Creates On-hover Dropdown Sub-menus for desktop view*/


/*******************************************************/


/**Using the Adjancent Sibling Combinator selector '+' **/

@media all and (min-width: 1024px) {
    .flex-nav__link__animation:hover+ul {
        display: block;
    }
    .flex-nav ul:hover {
        display: flex;
    }
}


/*need to include onmouseleave="closeSubMenus()" in the Top Tier (.has-sub-menu) li for that sub-menu, so that even if you click to open it, the sub-menu will still close when the mouse leaves*/


/********************************************************/

nav ul li {
    /**Need position:relative so can make ul-level-2 position absolute**/
    position: relative;
}


/**************************/

.flex-nav li {
    flex: 3;
}

.flex-nav .social {
    flex: 1;
}


/*label and toggle not displaying on larger screen sizes*/

label {
    font-size: 100px;
    width: 100px;
    margin: 10px 10px 0 0;
    color: goldenrod;
    display: none;
}

#toggle {
    display: none;
}


/**********************/


/**fixed nav bar 1024px and above**/

@media all and (min-width:1024px) {
    .flex-nav {
        z-index: 999;
        width: 100%;
        position: fixed;
    }
}


/*********************************/

@media all and (max-width: 1023px) {
    /*Overall Container*/
    .flex-nav {
        flex-wrap: wrap;
        a {
            font-size: 4rem;
            border-radius: 0%;
        }
    }
    /*    logo and title*/
    /*
    .logo-div {
        flex: 1 1 100%;
        justify-content: space-around;
    }
*/
    /*Menu*/
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
        flex: 1 1 100%;
    }
    .flex-nav .social {
        flex: 1 1 25%;
    }
    .ul-level-2 {
        position: absolute;
    }
    /*Hamburger Toggle Functionality*/
    label {
        display: block;
        cursor: pointer;
    }
    .flex-nav .toggle-me {
        display: none;
    }
    #toggle:checked+.toggle-me {
        /*Needs to display Block FIRST so menu appears*/
        display: block;
        /*THEN display flex so all the flex rules apply*/
        display: flex;
    }
    /****************/
}

@media all and (max-width: 600px) {
    .flex-nav li {
        flex-basis: 100%;
    }
}

@media all and (max-width: 640px) {
    .flex-nav {
        h1 {
            display: none;
        }
    }
}
