/**  Variables  **/

$spfGold: #BC7817;
$spfBlue: #80D4F7;
$dnwBlue: #000034;
$backGrey: #F6F6F6;
$borderGrey: #E6E6E6;

/**  Global Styles  **/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%rem;
}

body {
    font-family: 'Garamond', serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}


/**************************************************************/
