/**  global  **/

$spfGold: #BC7817;
$spfBlue: #80D4F7;
$dnwBlue: #000034;
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%rem;
}

body {
    font-family: 'Garamond', serif;
}

img {
    max-width: 100%;
    height: auto;
}


/**************************************************************/

.scroller {
    width: 50px;
    height: 5000px;
    background: lightblue;
}
