.large-hero {
    display: none;
    position: relative;
    &__text-box {
        position: absolute;
        top: 15%;
        transform: translateY(-50%);
        width: 100%;
    }
    &__title {
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.9);
        text-align: center;
    }
}

@media all and (min-width: 1024px) {
    .large-hero {
        display: block;
    }
}
