.news-column {
    display: none;
    text-align: center;
    height: 100vh;
    color: $textGrey;
    &__main-title-box {
        background: $backGrey;
        border: 4px solid $spfBlue;
/*        padding-top: 1px;don't need this if have the border activated*/
/*        padding-bottom: 1px;don't need this if have the border activated*/
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 2rem;
    }
    &__main-title {
        color: $spfGold;
        font-size: 2.9rem;
        text-decoration: underline;
    }
    &__content-box {
        border: 4px solid $spfBlue;
        background: $backGrey;
    }
    &__content-item {
        border-bottom: 2px solid $spfBlue;
        padding: 0 1rem;
    }
    &__content-title {
        font-size: 3rem;
    }
    &__image {
        border-radius: 3%;
    }
    &__intro-text {
        font-size: 2.5rem;
    }
    &__button {
        background: $backGrey;
        color: $textGrey;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 2px;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5%;
        display: inline-block;
        width: 40%;
        margin-bottom: 2rem;
        transition: all 0.2s;
        &:hover {
            color: $spfGold;
            background: $dnwBlue;
            border: 3px solid $spfBlue;
        }
    }
    @mixin atLarge {
        display: block;
    }
}
