/*Uncomment the .full-page-row mixin styles when the News Column is included. It just gives everything suitable margins from the the edge of the screen*/

.full-page-row {
    padding-left: 1%;
    padding-right: 1%;
    @mixin atLarge {
        padding-left: 3%;
        padding-right: 0;
    }
}

.page-content {
    color: $textGrey;
    &__outer-row {
        justify-content: space-around;
    }
    &__inner-row {
        padding-bottom: 20px;
        justify-content: space-around;
        background-color: $backGrey;
        border: 2px solid $borderGrey;
    }
    /*
    &__column-left {
        background-color: $backGrey;
        @mixin atLarge {
            border: 2px solid $borderGrey;
        }
    }
*/
    /*
    &__column-right {
        background-color: $backGrey;
        @mixin atLarge {
            border: 2px solid $borderGrey;
        }
    }
*/
    &__content-box {
        font-size: 2rem;
        text-align: justify;
        padding-top: 2%;
        @mixin atLarge {
            padding: 2% 2% 0 2%;
        }
        p {
            padding: 0 2% 0 2%;
            font-size: 3.5rem;
            @mixin atLarge {
                font-size: 2rem;
            }
        }
    }
    img {
        border-radius: 3%;
        display: block;
        margin: 0 auto;
        width: 100%;
        @mixin atLarge {
            width: 80%;
        }
    }
    &__heading {
        text-align: center;
    }
    &__dom-pic {
        width: 90%;
        border-radius: 3%;
    }
}
