.page-title {
    text-align: center;
    &--top-margin {
        @mixin atLarge {
            margin-top: 10px;
        }
    }
    &__text-box {
        font-size: 2rem;
        background: $backGrey;
        margin-top: 5px;
        margin-bottom: 10px;
        @mixin atLarge {
            margin-bottom: 0;
        }
        padding-bottom: 1px;
        @mixin atLarge {
            padding-top: 1px;
        }
    }
}
