.page-title {
    text-align: center;
    &__text-box {
        font-size: 2rem;
        background: $backGrey;
        border: 2px solid $borderGrey;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
