.page-section {
    border: 1px solid black;
    &__flex-row {
        justify-content: space-around;
        &__content {
            background: #ffdada;
            text-align: center;
            height: 330px;
            border: 1px solid black;
        }
    }
}
